<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Criar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-input label="Nome" label-placement="floating" type="text" fill="outline" [(ngModel)]="nome">
  </ion-input>

  <br>

  <ion-input label="Email" label-placement="floating" fill="outline" type="email"
    [(ngModel)]="email"></ion-input>

  <br>

  <ion-input label="Senha" type="password" label-placement="floating" fill="outline"
    [(ngModel)]="senha"></ion-input>

  <br>

  <ion-input label="Confirmar Senha" type="password" label-placement="floating" fill="outline" [(ngModel)]="confirmarSenha"></ion-input>

  <br>

  <ion-button (click)="salvar()" expand="full">
    Criar
  </ion-button>

</ion-content>
